<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Hola Mundo
    link(rel="stylesheet", href="dist/css/style.css")
  body
    .author
      p.name Pricing Tables
        span by pedro Muñoz
      ul.sociales
        li: a(href="#").twitter
          span.fa.fa-twitter
        li: a(href="#").instagram
          span.fa.fa-instagram
        li: a(href="#").github
          span.fa.fa-github
        li: a(href="#").codepen
          span.fa.fa-codepen

    .toggle
      label(for="monthly") Monthly
      input(type="checkbox" id="monthly" class="monthly btncheck")
      label(for="yearly") Yearly
      input(type="checkbox" id="yearly" class="yearly btncheck")
      span.switch
    .container
      .tablePricing-item
        .table-wrapper
          .tablePricing.tablePricing-monthly.visible.first
            .tablePricing__head
              h3.tablePricing__head__title Basic
              span.tablePricing__head__price 30
            .tablePricing__featuress
              ul.tablePricing__features__menu
                li
                  span 256MB
                  |  Memory
                li
                  span 1
                  |  User
                li
                  span 1
                  |  Website
                li
                  span 1
                  |  Domain
                li
                  span Unlimited
                  |  Bandwidth
                li
                  span 24/7
                  |  Support
            .tablePricing__button
              a(href="#") select
          .tablePricing.tablePricing-yearly
            .tablePricing__head
              h3.tablePricing__head__title Basic
              span.tablePricing__head__price 320
            .tablePricing__featuress
              ul.tablePricing__features__menu
                li
                  span 512MB
                  |  Memory
                li
                  span 1
                  |  User
                li
                  span 1
                  |  Website
                li
                  span 1
                  |  Domain
                li
                  span Unlimited
                  |  Bandwidth
                li
                  span 24/7
                  |  Support
            .tablePricing__button
              a(href="#") select
      .tablePricing-item
        .table-wrapper
          .tablePricing.tablePricing-monthly.visible.second
            .tablePricing__head.title-pink
              h3.tablePricing__head__title popular
              span.tablePricing__head__price 60
            .tablePricing__featuress
              ul.tablePricing__features__menu
                li
                  span 512MB
                  |  Memory
                li
                  span 3
                  |  Users
                li
                  span 5
                  |  Websites
                li
                  span 7
                  |  Domains
                li
                  span Unlimited
                  |  Bandwidth
                li
                  span 24/7
                  |  Support
            .tablePricing__button.button-pink
              a(href="#") select
          .tablePricing.tablePricing-yearly
            .tablePricing__head.title-pink
              h3.tablePricing__head__title popular
              span.tablePricing__head__price 630
            .tablePricing__featuress
              ul.tablePricing__features__menu
                li
                  span 512MB
                  |  Memory
                li
                  span 3
                  |  Users
                li
                  span 5
                  |  Websites
                li
                  span 7
                  |  Domains
                li
                  span Unlimited
                  |  Bandwidth
                li
                  span 24/7
                  |  Support
            .tablePricing__button.button-pink
              a(href="#") select
      .tablePricing-item
        .table-wrapper
          .tablePricing.tablePricing-monthly.visible.third
            .tablePricing__head
              h3.tablePricing__head__title premier
              span.tablePricing__head__price 90
            .tablePricing__featuress
              ul.tablePricing__features__menu
                li
                  span 1024MB
                  |  Memory
                li
                  span 5
                  |  Users
                li
                  span 10
                  |  Websites
                li
                  span 10
                  |  Domains
                li
                  span Unlimited
                  |  Bandwidth
                li
                  span 24/7
                  |  Support
            .tablePricing__button
              a(href="#") select
          .tablePricing.tablePricing-yearly
            .tablePricing__head
              h3.tablePricing__head__title premier
              span.tablePricing__head__price 950
            .tablePricing__featuress
              ul.tablePricing__features__menu
                li
                  span 1024MB
                  |  Memory
                li
                  span 5
                  |  Users
                li
                  span 10
                  |  Websites
                li
                  span 10
                  |  Domains
                li
                  span Unlimited
                  |  Bandwidth
                li
                  span 24/7
                  |  Support
            .tablePricing__button
              a(href="#") select
    script(src="dist/js/app.js")
    script(src="https://use.fontawesome.com/d1ed67737b.js")